<div class="filter">
  <div>
    <div class="filter-button" {{action "toggleOpen"}}>
      {{title}}
      <i class="fa {{iconClass}}"></i>
      <span>{{ filteredText }}</span>
    </div>
    <div class="checkbox-group ">
    {{#each filters as |filter|}}
        <div class="checkbox">
          {{input type="checkbox" change=(action "onChange" filter property)}}
          <label>{{filter}}</label>
        </div>
    {{/each}}
    </div>
  </div>
</div>